{% extends '@modules:bVVinarstvi/layouts/site-layout/site-layout.twig' %}

{% block content %}
  <div class="blog-header">
    <h1 data-aos="fade-up" data-aos-delay="0">
      SZIF
    </h1>
  </div>
  <div class="content">
    <div class="content-inner">
      <!-- <div data-aos="fade-up" data-aos-delay="0" class="images-line"><img src="images/szif/eu.jpg"><img src="images/szif/prv.jpg"></div> -->
      <p data-aos="fade-up" data-aos-delay="600">
        Název projektu: <b>Vinice - investice</b>
        <br /><br />
        Místo realizace: <b>
          B\V vinařství a.s., Vítězná 718, 696 02 Ratíškovice
        </b>
        <br /><br />
        IČ: <b>03255719</b>
        <br /><br />
        DIČ: <b>CZ03255719</b>
        <br /><br />
        Číslo žádosti: <b>20/010/0411n/564/001943</b>
        <br /><br />
        Nákup 2 ks traktorů do vinice
        <br /><br />
        Nákup 2 ks mulčovačů
        <br /><br />
        Došlo k realizaci projektu, nákupu zemědělské techniky.
        <br /><br />
        Technika je využívána pro zpracování půdy, obdělávání vinice.
        <br /><br />
        Došlo k přidané hodnotě podniku.
        <br /><br />
        Díky realizaci je možné dál rozvíjet chod firmy v oblasti vinařství.
      </p>
    </div>
  </div>
{% endblock %}
